openapi: 3.0.0
info:
  title: Bitcoin Mining APIs
  description: APIs for retrieving Bitcoin mining information including difficulty adjustment and transaction fees
  version: 1.0.0
servers:
  - url: https://mempool.space/api/v1
paths:
  /difficulty-adjustment:
    get:
      summary: Retrieve Difficulty Adjustment Information
      description: Returns data related to Bitcoin mining difficulty adjustment.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DifficultyAdjustmentResponse'
  /transaction-fees:
    get:
      summary: Retrieve Transaction Fee Information
      description: Returns data related to Bitcoin transaction fees.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionFeesResponse'
components:
  schemas:
    DifficultyAdjustmentResponse:
      type: object
      properties:
        remainingTime:
          type: integer
          description: Remaining time until the next difficulty adjustment in seconds
        timeAvg:
          type: integer
          description: Average block time in seconds
        difficultyChange:
          type: number
          description: Change in mining difficulty as a percentage
        previousRetarget:
          type: number
          description: Previous difficulty change as a percentage
        nextRetargetHeight:
          type: integer
          description: Height at which the next difficulty retarget will occur
        estimatedRetargetDate:
          type: integer
          format: int64
          description: Unix timestamp of the estimated retarget date
    TransactionFeesResponse:
      type: object
      properties:
        fastestFee:
          type: number
          description: The fastest fee, in satoshis per byte, that will get a transaction confirmed within the next few blocks
        halfHourFee:
          type: number
          description: The fee, in satoshis per byte, that will get a transaction confirmed within the next half hour
        hourFee:
          type: number
          description: The fee, in satoshis per byte, that will get a transaction confirmed within the next hour
